* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 193px;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 75px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition:
    background-color 0.2s,
    height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 74px;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  letter-spacing: -0.34px;
  word-spacing: -0.1px;
  font-weight: 600;
  font-size: 13px;

  padding: 25px 37px;
}
.header {
  padding-top: 84px;
  min-height: 100vh;
}
.header-image {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 41px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 41px;
  margin: 0;
}
.header-nav-link {
  text-decoration: none;
  font-size: 13px;
  margin-right: 40px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 7px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 13px;
  color: inherit;
  margin-right: 41px;
}
.button {
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  border: none;
  display: inline-block;
  cursor: pointer;
  letter-spacing: -0.34px;
  word-spacing: -0.1px;
  font-weight: 600;
  font-size: 13px;

  padding: 25px 37px;
}
.header-button {
  height: 100%;
}
.separator {
  width: 117px;
  height: 2px;
  background: #5c8ee5;
}
.header-content {
  padding-top: 111px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue";
  font-size: 63px;
  line-height: 124%;
  margin: 17px 0 29px;
  letter-spacing: 1px;
  word-spacing: -2.2px;
}
.header-text {
  max-width: 530px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 159%;
  margin-bottom: 39px;
  letter-spacing: -0.2px;
  word-spacing: 2px;
}
.header-features {
  display: flex;
  max-height: 134px;
  padding: 0;
  margin-top: 71px;
  list-style: none;
  color: #ffffff;
  position: relative;
}
.header-features-item {
  min-width: 230px;
  padding: 24px 39px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0.1px;
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.section {
  margin-top: 123px;
  margin-bottom: 150px;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 48px;
  line-height: 31%;
  color: #292d33;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 45px;
}
.steps-item {
  max-width: 242px;
  flex-shrink: 0;
}
.steps-num {
  font-weight: 600;
  font-family: "Bebas Neue";
  font-size: 39px;
  line-height: 230%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
}
.steps-num:after {
  content: "";
  height: 1px;
  background: #ebebf0;
  display: inline-block;
  width: 100%;
  margin-left: 30px;
}
.steps-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  color: #292d33;
  margin-top: 7px;
  margin-bottom: 10px;
  word-spacing: 12px;
  letter-spacing: -0.1px;
}
.steps-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #828a99;
  margin-top: 10px;
  margin-bottom: 14px;
}
.steps-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 160%;
  color: #5c8ee5;
}
.steps-link::before {
  content: "";
  width: 28px;
  height: 1px;
  background-color: #5c8ee5;
  margin-right: 20px;
}
